# Import Libraries

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('crime_data.csv')
data.head()

,Disposition,OffenderStatus,Offender_Race,Offender_Gender,Offender_Age,PersonType,Victim_Race,Victim_Gender,Victim_Age,Victim_Fatal_Status,Report Type,Category
0,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
1,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
2,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
3,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
4,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft

##### Select features and target / dependent and independent variable

In [4]:
features = [
    "Offender_Race","Offender_Gender","Offender_Age","Victim_Race","Victim_Gender","Victim_Age"
]
target = "Category"

data_subset = data[features + [target]]
data_subset

,Offender_Race,Offender_Gender,Offender_Age,Victim_Race,Victim_Gender,Victim_Age,Category
0,BLACK,MALE,30.0,BLACK,FEMALE,29.0,Theft
1,BLACK,MALE,30.0,BLACK,FEMALE,29.0,Theft
2,BLACK,MALE,30.0,BLACK,FEMALE,29.0,Theft
3,BLACK,MALE,30.0,BLACK,FEMALE,29.0,Theft
4,BLACK,MALE,30.0,BLACK,FEMALE,29.0,Theft
...,...,...,...,...,...,...,...
6633,BLACK,FEMALE,30.0,WHITE,MALE,34.0,Theft
6634,WHITE,FEMALE,20.0,WHITE,MALE,34.0,Theft
6635,BLACK,FEMALE,26.0,BLACK,FEMALE,34.0,Violence
6636,WHITE,MALE,38.0,UNKNOWN,MALE,31.0,Violence
6637,WHITE,MALE,38.0,UNKNOWN,MALE,25.0,Violence

In [5]:
print("\nUnique Crime Categories:")
print(data_subset[target].unique())

Unique Crime Categories:
['Theft' 'Miscellaneous' 'Vandalism' 'Violence' 'Sexual Crimes'
 'Drug and Weapon Crimes']